---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import SkillsCard from "../components/SkillsCard.astro";
import ServicesCard from "../components/ServicesCard.astro";
import projects from "../data/projects.js";
import skills from "../data/skills";
import services from "../data/services";
import testimonials from "../data/testimonials";
import TestimonialCard from "../components/TestimonialCard.astro";
import { Image } from "astro:assets";
import profilePhoto from "../images/profilePhoto.jpg";
import carmel from "../images/carmel.jpg";
---

<Layout title="Irina Kramer - Freelance web developer">
    <!-- intro -->
    <section>
        <div
            class="px-8 py-10 mx-auto text-center md:px-12 lg:px-24 text-gray-500"
        >
            <div class="mx-auto w-32 pb-2 sm:pb-6 sm:w-48">
                <Image
                    class="rounded-full"
                    src={profilePhoto}
                    alt="Irina Kramer profile photo"
                />
            </div>
            <p
                class="max-w-xl mx-auto font-serif text-xl text-gray-500"
            >
                <em>
                    Hello! I'm Irina Kramer, a freelance web developer
                    and designer. I specialize in developing ecommerce
                    websites that are beautiful, fast and converting.
                    I'm well versed in the latest web tech and enjoy
                    helping brands stand out by finding creative
                    solutions and providing exceptional work. I'm
                    based in Petaluma, California.
                </em>
            </p>
        </div>
    </section>

    <!-- portfolio -->
    <section>
        <div
            class="px-8 py-10 mx-auto text-center md:px-12 lg:px-24 text-gray-500"
        >
            <div class="text-center">
                <h2
                    class="text-4xl font-semibold tracking-tighter text-gray-900 mb-8"
                >
                    Portfolio
                </h2>
            </div>
            <div
                class="grid grid-cols-1 gap-4 mx-auto lg:gap-8 sm:grid-cols-2 lg:grid-cols-3 max-w-7xl"
            >
                {
                    projects.map((project) => (
                        <ProjectCard
                            name={project.name}
                            url={project.url}
                            image={project.image.src}
                            tech={project.tech}
                        />
                    ))
                }
            </div>
        </div>
    </section>

    <!-- skills -->
    <section>
        <div class="px-8 py-24 mx-auto md:px-12 lg:px-32 max-w-7xl">
            <div class="text-center">
                <h2
                    class="text-4xl font-semibold tracking-tighter text-gray-900 mb-8"
                >
                    My Tech Stack
                </h2>
            </div>
            <div
                class="grid grid-cols-2 text-sm font-medium text-center text-gray-500 gap-x-6 gap-y-12 lg:grid-cols-4 lg:gap-x-8 lg:gap-y-16 text-balance"
            >
                {
                    skills.map((skill) => (
                        <SkillsCard
                            name={skill.name}
                            description={skill.description}
                            logo={skill.logo}
                        />
                    ))
                }
            </div>
        </div>
    </section>

    <!-- services -->
    <section>
        <div class="px-8 py-24 mx-auto md:px-12 lg:px-32 max-w-7xl">
            <div class="text-center">
                <h2
                    class="text-4xl font-semibold tracking-tighter text-gray-900 mb-8"
                >
                    Services
                </h2>
            </div>
            <div
                class="flex flex-wrap justify-center text-sm font-medium text-center text-gray-500 gap-x-6 gap-y-12 lg:gap-x-8 lg:gap-y-16 text-balance"
            >
                {
                    services.map((service) => (
                        <ServicesCard
                            name={service.name}
                            description={service.description}
                            icon={service.icon}
                        />
                    ))
                }
            </div>
        </div>
    </section>

    <!-- outsourcing -->

    <section>
        <div class="px-8 py-24 mx-auto md:px-12 lg:px-32 max-w-7xl">
            <div
                class="grid items-center grid-cols-1 gap-6 lg:grid-cols-2 lg:gap-24"
            >
                <div class="md:order-first">
                    <h1
                        class="text-4xl font-semibold tracking-tighter text-gray-900 text-balance"
                    >
                        Outsourcing services
                        <span class="text-gray-600"
                            >for digital agencies</span
                        >
                    </h1>
                    <p
                        class="mt-4 text-base font-medium text-gray-500"
                    >
                        I offer freelance web development and
                        outsourcing services tailored for digital
                        agencies, providing long-term support and
                        competitive pricing. Say goodbye to employment
                        bureaucracy and extra expenses. I'm all about
                        delivering results, so you have peace of mind
                        and go on vacation!
                    </p>

                    <!-- <dl
                        class="grid grid-cols-2 gap-4 mt-12 list-none lg:gap-6 text-pretty"
                    >
                        <div>
                            <div>❖</div>
                            <dt
                                class="mt-4 font-medium text-gray-900"
                            >
                                No warranty disclaimer
                            </dt>
                            <dd class="mt-2 text-sm text-gray-500">
                                The license comes with no warranties.
                                The licensor provides the work "as
                                is," and users must use it at their
                                own risk.
                            </dd>
                        </div>
                        <div>
                            <div>❖</div>
                            <dt
                                class="mt-4 font-medium text-gray-900"
                            >
                                Commercial use allowed
                            </dt>
                            <dd class="mt-2 text-sm text-gray-500">
                                You are allowed to use the licensed
                                work for both non-commercial and
                                commercial purposes.
                            </dd>
                        </div>
                    </dl> -->
                </div>
                <div
                    class="order-first block w-full mt-12 aspect-square lg:mt-0"
                >
                    <div
                        class="h-full p-2 overflow-hidden border shadow-lg bg-gray-50 rounded-3xl"
                    >
                        <Image
                            class="relative w-full rounded-2xl drop-shadow-2xl"
                            src={carmel}
                            alt="Carmel photo"
                        />
                        <!-- <img
                            alt="#_"
                            class="relative w-full rounded-2xl drop-shadow-2xl"
                            src="/images/appify/phone.png"
                        /> -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- testimonials -->
    <section>
        <div class="px-8 py-12 mx-auto md:px-12 lg:px-32 max-w-7xl">
            <div class="text-center">
                <h2
                    class="text-4xl font-semibold tracking-tighter text-gray-900 mb-8"
                >
                    What my colleagues and clients are saying
                </h2>
            </div>
            <ul
                role="list"
                class="grid max-w-2xl grid-cols-1 gap-6 mx-auto sm:gap-4 lg:max-w-none lg:grid-cols-3"
            >
                {
                    testimonials.map((testimonial) => (
                        <TestimonialCard
                            author={testimonial.author}
                            title={testimonial.title}
                            text={testimonial.text}
                            avatar={testimonial.avatar}
                            link={testimonial.link}
                        />
                    ))
                }
            </ul>
        </div>
    </section>

    <!-- hire me -->
    <section>
        <div class="px-8 py-12 mx-auto md:px-12 lg:px-32 max-w-7xl">
            <div class="p-2 border bg-gray-50 rounded-3xl">
                <div
                    class="p-10 text-center bg-white border shadow-lg md:p-20 rounded-3xl"
                >
                    <p
                        class="mt-8 text-4xl font-semibold tracking-tighter text-black"
                    >
                        Hire me
                    </p>
                    <p
                        class="w-1/2 mx-auto mt-4 text-base text-gray-500 text-balance"
                    >
                        Are you prepared to talk about your project?
                        Send me an email outlining the details, and
                        I'll respond promptly with a quote or
                        proposal. Thank you!
                    </p>
                    <div
                        class="flex flex-col items-center justify-center gap-2 mx-auto mt-8 md:flex-row"
                    >
                        <a
                            class="inline-flex items-center justify-center w-full h-12 gap-3 px-5 py-3 bg-gray-100 md:w-auto rounded-xl hover:bg-gray-200 focus:outline-none"
                            href="mailto:irinakramer.pro@gmail.com?subject=Inquiry from website"
                            ><svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="ionicon size-4"
                                viewBox="0 0 512 512"
                                ><path
                                    d="M470.3 271.15L43.16 447.31a7.83 7.83 0 01-11.16-7V327a8 8 0 016.51-7.86l247.62-47c17.36-3.29 17.36-28.15 0-31.44l-247.63-47a8 8 0 01-6.5-7.85V72.59c0-5.74 5.88-10.26 11.16-8L470.3 241.76a16 16 0 010 29.39z"
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="32"></path></svg
                            ><span class="text-xs text-gray-600"
                                >Contact</span
                            ></a
                        >
                        <!-- <button
                            class="inline-flex items-center justify-center w-full h-12 gap-3 px-5 py-3 bg-gray-100 md:w-auto rounded-xl hover:bg-gray-200 focus:outline-none"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="ionicon size-4"
                                viewBox="0 0 512 512"
                                ><path
                                    d="M470.3 271.15L43.16 447.31a7.83 7.83 0 01-11.16-7V327a8 8 0 016.51-7.86l247.62-47c17.36-3.29 17.36-28.15 0-31.44l-247.63-47a8 8 0 01-6.5-7.85V72.59c0-5.74 5.88-10.26 11.16-8L470.3 241.76a16 16 0 010 29.39z"
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="32"></path></svg
                            >
                            <span class="text-xs text-gray-600"
                                >Contact</span
                            ></button
                        > -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</Layout>
