---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import SkillsCard from "../components/SkillsCard.astro";
import ServicesCard from "../components/ServicesCard.astro";
import projects from "../data/projects.js";
import skills from "../data/skills";
import services from "../data/services";
import testimonials from "../data/testimonials";
import TestimonialCard from "../components/TestimonialCard.astro";
import ContactButton from "../components/ContactButton.astro";
import { Image } from "astro:assets";
import profilePhoto from "../images/profilePhoto_jan2025.jpg";
import aboutPhoto from "../images/aboutPhoto.jpg";
---

<Layout title="Irina Kramer - Freelance web developer">
    <!-- intro -->
    <section>
        <div class="relative">
            <div
                class="absolute top-0 z-[-2] h-full w-full bg-neutral-50 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(159,18,57,0.4),rgba(255,255,255,0))]"
            >
            </div>
            <div
                class="px-8 py-10 mx-auto text-center md:px-12 lg:px-24 text-neutral-500 relative"
            >
                <div class="mx-auto w-32 pb-2 sm:pb-6 sm:w-48">
                    <div
                        class="p-2 overflow-hidden border border-neutral-200 bg-neutral-100 rounded-full"
                    >
                        <Image
                            class="rounded-full border border-neutral-200 shadow"
                            src={profilePhoto}
                            alt="Irina Kramer profile photo"
                        />
                    </div>
                </div>
                <div class="text-center">
                    <h1
                        class="text-4xl noto-serif font-semibold tracking-tighter text-neutral-900 mb-4 lg:mb-4"
                    >
                        Irina Kramer
                    </h1>
                    <p
                        class="text-base noto-serif text-neutral-500 mb-4 lg:mb-4"
                    >
                        Helping artists & creatives sell beautifully
                        online
                    </p>
                </div>

                <p
                    class="max-w-xl mx-auto mb-4 noto-serif text-lg text-neutral-500"
                >
                    <em>
                        I'm a web developer and designer specializing
                        in creating eCommerce websites for artists and
                        creative brands. With strong coding skills and
                        expertise in Shopify, WooCommerce, and Wix, I
                        can help you sell your products online and
                        elevate your brand’s digital presence.
                    </em>
                </p>
                <ContactButton text="Let's Connect" />
            </div>
        </div>
    </section>

    <!-- portfolio -->
    <section>
        <div
            class="px-8 py-10 mx-auto text-center md:px-12 lg:px-24 text-neutral-500"
        >
            <div class="text-center">
                <h2
                    class="text-4xl noto-serif font-semibold tracking-tighter text-neutral-900 mb-8 lg:mb-12"
                    id="portfolio"
                >
                    Portfolio
                </h2>
            </div>
            <div
                class="grid grid-cols-1 gap-4 mx-auto text-sm font-medium lg:gap-8 sm:grid-cols-2 lg:grid-cols-2 max-w-7xl"
            >
                {
                    projects.map((project) => (
                        <ProjectCard
                            name={project.name}
                            url={project.url}
                            image={project.image.src}
                            tech={project.tech}
                        />
                    ))
                }
            </div>
        </div>
        <br /><br />
    </section>

    <!-- skills -->
    <!-- <section>
        <div class="px-8 py-24 mx-auto md:px-12 lg:px-32 max-w-7xl">
            <div class="text-center">
                <h2
                    class="text-4xl noto-serif font-semibold tracking-tighter text-neutral-900 mb-8 lg:mb-12"
                    id="tech-stack"
                >
                    My Tech Stack
                </h2>
            </div>
            <div
                class="grid grid-cols-2 text-sm font-medium text-center text-neutral-500 gap-x-6 gap-y-12 lg:grid-cols-4 lg:gap-x-8 lg:gap-y-16 text-balance"
            >
                {
                    skills.map((skill) => (
                        <SkillsCard
                            name={skill.name}
                            description={skill.description}
                            logo={skill.logo}
                        />
                    ))
                }
            </div>
        </div>
    </section> -->

    <!-- services -->
    <section>
        <div class="relative">
            <div
                class="absolute top-0 z-[-2] h-full w-full rotate-180 transform bg-neutral-50 bg-[radial-gradient(40%_120%_at_50%_50%,hsla(0,0%,100%,0)_0,rgba(159,18,57,.2)_100%)]"
            >
            </div>

            <div
                class="px-8 py-24 mx-auto md:px-12 lg:px-32 max-w-7xl"
            >
                <div class="text-center">
                    <h2
                        class="text-4xl noto-serif font-semibold tracking-tighter text-neutral-900 mb-8 lg:mb-4"
                        id="web-services"
                    >
                        Web Services
                    </h2>
                    <p class="noto-serif text-neutral-500 mb-8">
                        Custom ecommerce solutions for your business
                        online growth
                    </p>
                </div>
                <div
                    class="flex flex-wrap justify-center text-sm font-medium text-center text-neutral-500 gap-x-6 gap-y-12 lg:gap-x-8 lg:gap-y-16 text-balance"
                >
                    {
                        services.map((service) => (
                            <ServicesCard
                                name={service.name}
                                description={service.description}
                                icon={service.icon}
                            />
                        ))
                    }
                </div>
            </div>
        </div>
    </section>

    <!-- About -->
    <section>
        <div class="px-8 py-24 mx-auto md:px-12 lg:px-32 max-w-7xl">
            <div
                class="grid items-center grid-cols-1 gap-6 md:grid-cols-2 lg:gap-24"
            >
                <div class="md:order-first">
                    <h2
                        class="text-4xl noto-serif font-semibold tracking-tighter text-neutral-900 text-balance"
                    >
                        About
                    </h2>
                    <p class="mt-4 mb-4 text-base text-neutral-500">
                        I've been in the web industry for 20 years,
                        working as a web designer, web app developer,
                        web project manager, and most recently, a
                        software engineer. My experience spans both
                        tech and consumer goods, from small startups
                        to large international companies.
                    </p>
                    <p class="mb-4 text-base text-neutral-500">
                        Some of my most fulfilling and creative years
                        were spent developing ecommerce sites for
                        brands like Lowepro, JOBY, and Manfrotto.
                        During that time, I gained hands-on experience
                        with ecommerce platforms, product and category
                        pages, product photography, SEO, sales, email
                        campaigns, and inventory management. It was
                        like seeing an entire business from 1,000 feet
                        up, then zooming in to the smallest details.
                    </p>
                    <p class="mb-4 text-base text-neutral-500">
                        Beyond ecommerce, I have a deep appreciation
                        for small businesses, creative entrepreneurs,
                        and artists. In 2023, I left the corporate
                        world to focus on helping them succeed online.
                        Today, I specialize in building and supporting
                        high-performing, custom ecommerce sites on
                        Shopify and WooCommerce.
                    </p>
                    <p class="text-base text-neutral-500">
                        If you're looking for a strategic partner to
                        bring your online store to life, <a
                            href="mailto:irinakramer@yahoo.com?subject=Inquiry from website"
                            class="text-rose-600 hover:text-rose-400"
                            >I'd love to chat about your next project</a
                        >.
                    </p>
                </div>
                <div
                    class="order-first block w-full mt-12 aspect-square lg:mt-0"
                >
                    <div
                        class="h-full p-2 overflow-hidden border border-neutral-200 bg-neutral-100 rounded-3xl"
                    >
                        <Image
                            class="relative w-full rounded-2xl border border-neutral-200 shadow-lg"
                            src={aboutPhoto}
                            alt="Irina Kramer photo"
                        />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- testimonials -->
    <section>
        <div class="px-8 py-12 mx-auto md:px-12 lg:px-32 max-w-7xl">
            <div class="text-center">
                <h2
                    class="text-4xl noto-serif font-semibold tracking-tighter text-neutral-900 mb-8 lg:mb-12"
                >
                    What my clients and colleagues are saying
                </h2>
            </div>
            <ul
                role="list"
                class="grid max-w-2xl grid-cols-1 gap-6 mx-auto sm:gap-4 lg:max-w-none lg:grid-cols-3"
            >
                {
                    testimonials.map((testimonial) => (
                        <TestimonialCard
                            author={testimonial.author}
                            title={testimonial.title}
                            text={testimonial.text}
                            avatar={testimonial.avatar}
                            link={testimonial.link}
                        />
                    ))
                }
            </ul>
        </div>
    </section>

    <!-- hire me -->
    <section>
        <div class="px-8 py-12 mx-auto md:px-12 lg:px-32 max-w-7xl">
            <div class="p-2 border border-neutral-200 rounded-3xl">
                <div class="relative rounded-2xl">
                    <div
                        class="absolute inset-0 -z-10 h-full w-full bg-white [background:radial-gradient(125%_125%_at_50%_10%,#fff_40%,#9F1245_160%)] rounded-2xl"
                    >
                    </div>
                    <div
                        class="p-10 text-center border border-neutral-200 shadow-lg md:p-20 rounded-2xl"
                    >
                        <!-- <h2
                            class="mt-8 text-4xl noto-serif font-semibold tracking-tighter text-black"
                        >
                            Hire me
                        </h2> -->
                        <p
                            class="md:w-1/2 mx-auto mt-4 text-base text-neutral-500 text-balance"
                        >
                            If you're prepared to talk about your
                            project, send me an email and I'll respond
                            promptly with next steps.
                        </p>
                        <div
                            class="flex flex-col items-center justify-center gap-2 mx-auto mt-8 md:flex-row"
                        >
                            <ContactButton text="Let's Connect" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</Layout>
