---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import SkillsCard from "../components/SkillsCard.astro";
import ServicesCard from "../components/ServicesCard.astro";
import projects from "../data/projects.js";
import skills from "../data/skills";
import services from "../data/services";
import testimonials from "../data/testimonials";
import TestimonialCard from "../components/TestimonialCard.astro";
import ContactButton from "../components/ContactButton.astro";
import { Image } from "astro:assets";
import profilePhoto from "../images/profilePhoto.jpg";
import aboutPhoto from "../images/aboutPhoto.jpg";
---

<Layout title="Irina Kramer - eCommerce web developer and designer">
    <!-- Hero -->
    <section>
        <div class="relative isolate px-6 py-14 lg:px-8 bg-white">
            <div class="mx-auto max-w-2xl py-18">
                <div class="mx-auto w-32 pb-2 sm:pb-6">
                    <Image
                        class="rounded-2xl border-neutral-200 shadow-xl"
                        src={profilePhoto}
                        alt="Irina Kramer profile photo"
                    />
                </div>

                <div class="hidden sm:mb-8 sm:flex sm:justify-center">
                    <div
                        class="relative rounded-full px-3 py-1 text-sm/6 text-gray-600 ring-1 ring-gray-900/10 hover:ring-gray-900/20"
                    >
                        Hi, I'm Irina Kramer
                    </div>
                </div>
                <div class="text-center">
                    <h1
                        class="text-5xl font-semibold tracking-tight text-balance text-gray-900 sm:text-7xl"
                    >
                        I help artists and creators sell beautifully
                        online
                    </h1>
                    <p
                        class="mt-8 text-lg text-pretty text-gray-500 sm:text-xl/8"
                    >
                        I'm a web developer and designer specializing
                        in creating eCommerce websites for artists,
                        makers and creative brands. With strong coding
                        skills and expertise in Shopify and
                        WooCommerce, I can help you sell your products
                        online and grow your business.
                    </p>
                    <div
                        class="mt-10 flex items-center justify-center gap-x-6"
                    >
                        <ContactButton text="Let's Connect" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- testimonials grid -->
    <section>
        <div class="bg-gray-50 py-24">
            <div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8">
                <h2
                    class="text-center text-base/7 font-semibold text-indigo-600"
                >
                    Testimonials
                </h2>
                <p
                    class="mx-auto mt-2 max-w-lg text-center text-4xl font-semibold tracking-tight text-balance text-gray-950 sm:text-5xl"
                >
                    What my clients and colleagues are saying
                </p>
                <div
                    class="mt-10 grid gap-4 sm:mt-16 lg:grid-cols-3 lg:grid-rows-2"
                >
                    <div class="relative lg:row-span-2">
                        <div
                            class="absolute inset-px rounded-lg bg-white lg:rounded-l-[2rem]"
                        >
                        </div>
                        <div
                            class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)] lg:rounded-l-[calc(2rem+1px)]"
                        >
                            <div
                                class="px-8 pt-8 pb-3 sm:px-10 sm:pt-10 sm:pb-0"
                            >
                                <p
                                    class="mt-2 max-w-lg text-sm/6 text-gray-600 max-lg:text-center"
                                >
                                    <strong
                                        >"I am beyond thrilled with my
                                        new website</strong
                                    >, thanks to the incredible work
                                    of Irina Kramer. I wanted
                                    something that truly reflected my
                                    work as a fine art painter, and
                                    Irina made it happen seamlessly.
                                </p>
                                <p
                                    class="my-2 max-w-lg text-sm/6 text-gray-600 max-lg:text-center"
                                >
                                    What impressed me most was how
                                    much research she did on her own.
                                    She explored artist websites,
                                    picked out the best elements, and
                                    came back with a fully developed
                                    vision. From adding a short video
                                    of me painting on the "About page"
                                    to designing a layout that
                                    beautifully showcases my work, to
                                    adding purchase options or
                                    registering for a class, she
                                    thought of everything. All I had
                                    to do was provide access to my
                                    images — she handled the rest. The
                                    result is a stunning, professional
                                    site that feels like an extension
                                    of my art. I can’t recommend Irina
                                    highly enough!"
                                </p>
                                <!-- <img
                                    class="mx-auto size-10 rounded-full"
                                    src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                                    alt=""
                                /> -->
                                <div
                                    class="mt-4 mb-8 flex items-center justify-center space-x-3 text-base"
                                >
                                    <div
                                        class="font-semibold text-gray-900"
                                    >
                                        Diana Majumdar
                                    </div>
                                    <svg
                                        viewBox="0 0 2 2"
                                        width="3"
                                        height="3"
                                        aria-hidden="true"
                                        class="fill-gray-900"
                                    >
                                        <circle cx="1" cy="1" r="1"
                                        ></circle>
                                    </svg>
                                    <div class="text-gray-600">
                                        Fine Artist
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            class="pointer-events-none absolute inset-px rounded-lg ring-1 shadow-sm ring-black/5 lg:rounded-l-[2rem]"
                        >
                        </div>
                    </div>
                    <div class="relative max-lg:row-start-1">
                        <div
                            class="absolute inset-px rounded-lg bg-white max-lg:rounded-t-[2rem]"
                        >
                        </div>
                        <div
                            class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)] max-lg:rounded-t-[calc(2rem+1px)]"
                        >
                            <div class="px-8 pt-8 sm:px-10 sm:pt-10">
                                <p
                                    class="mt-2 max-w-lg text-sm/6 text-gray-600 max-lg:text-center"
                                >
                                    "Irina is the type of professional
                                    colleague everyone appreciates and
                                    respects. Her combination of tech
                                    knowledge, project management and
                                    positive collaboration made our
                                    sites engaging, clear, highly
                                    functional and relevant."
                                </p>
                            </div>
                            <!-- <img
                                class="mx-auto size-10 rounded-full"
                                src="https://ikonwebstudio.com/ik/images/avatars/katrina_neil.jpeg"
                                alt=""
                            /> -->
                            <div
                                class="mt-4 flex items-center justify-center space-x-3 text-base"
                            >
                                <div
                                    class="font-semibold text-gray-900"
                                >
                                    Katrina Neill
                                </div>
                                <svg
                                    viewBox="0 0 2 2"
                                    width="3"
                                    height="3"
                                    aria-hidden="true"
                                    class="fill-gray-900"
                                >
                                    <circle cx="1" cy="1" r="1"
                                    ></circle>
                                </svg>
                                <div class="text-gray-600">
                                    Senior Copywriter
                                </div>
                            </div>
                        </div>
                        <div
                            class="pointer-events-none absolute inset-px rounded-lg ring-1 shadow-sm ring-black/5 max-lg:rounded-t-[2rem]"
                        >
                        </div>
                    </div>
                    <div
                        class="relative max-lg:row-start-3 lg:col-start-2 lg:row-start-2"
                    >
                        <div
                            class="absolute inset-px rounded-lg bg-white"
                        >
                        </div>
                        <div
                            class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)]"
                        >
                            <div class="px-8 pt-8 sm:px-10 sm:pt-10">
                                <p
                                    class="mt-2 max-w-lg text-sm/6 text-gray-600 max-lg:text-center"
                                >
                                    "Irina has a strong knowledge of
                                    modern web development
                                    technologies, including
                                    JavaScript, HTML, CSS, and other
                                    related tools. Moreover, Irina has
                                    an eye for detail and always
                                    ensures that her code is clean,
                                    maintainable, and efficient."
                                </p>
                                <!-- <img
                                    class="mx-auto size-10 rounded-full"
                                    src="https://ikonwebstudio.com/ik/images/avatars/jeremy_lane.jpeg"
                                    alt=""
                                /> -->
                                <div
                                    class="mt-4 flex items-center justify-center space-x-3 text-base"
                                >
                                    <div
                                        class="font-semibold text-gray-900"
                                    >
                                        Jeremy Lane
                                    </div>
                                    <svg
                                        viewBox="0 0 2 2"
                                        width="3"
                                        height="3"
                                        aria-hidden="true"
                                        class="fill-gray-900"
                                    >
                                        <circle cx="1" cy="1" r="1"
                                        ></circle>
                                    </svg>
                                    <div class="text-gray-600">
                                        Engineering Leader
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            class="pointer-events-none absolute inset-px rounded-lg ring-1 shadow-sm ring-black/5"
                        >
                        </div>
                    </div>
                    <div class="relative lg:row-span-2">
                        <div
                            class="absolute inset-px rounded-lg bg-white max-lg:rounded-b-[2rem] lg:rounded-r-[2rem]"
                        >
                        </div>
                        <div
                            class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)] max-lg:rounded-b-[calc(2rem+1px)] lg:rounded-r-[calc(2rem+1px)]"
                        >
                            <div
                                class="px-8 pt-8 pb-3 sm:px-10 sm:pt-10 sm:pb-0"
                            >
                                <p
                                    class="mt-2 max-w-lg text-sm/6 text-gray-600 max-lg:text-center"
                                >
                                    "Irina is passionate professional
                                    always seeking to do the best work
                                    possible, her experience, way of
                                    thinking, patience and skills make
                                    her a very talented software
                                    engineer. I always feel like she
                                    is in control and has a very well
                                    designed plan to get the best
                                    solution to any problem."
                                </p>
                                <!-- <img
                                    class="mx-auto size-10 rounded-full"
                                    src="https://ikonwebstudio.com/ik/images/avatars/gize_bonilla.jpeg"
                                    alt=""
                                /> -->
                                <div
                                    class="mt-4 flex items-center justify-center space-x-3 text-base"
                                >
                                    <div
                                        class="font-semibold text-gray-900"
                                    >
                                        Gize Bonilla
                                    </div>
                                    <svg
                                        viewBox="0 0 2 2"
                                        width="3"
                                        height="3"
                                        aria-hidden="true"
                                        class="fill-gray-900"
                                    >
                                        <circle cx="1" cy="1" r="1"
                                        ></circle>
                                    </svg>
                                    <div class="text-gray-600">
                                        Senior Engineering Manager
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            class="pointer-events-none absolute inset-px rounded-lg ring-1 shadow-sm ring-black/5 max-lg:rounded-b-[2rem] lg:rounded-r-[2rem]"
                        >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- portfolio -->
    <section>
        <div
            class="px-8 py-10 mx-auto text-center md:px-12 lg:px-24 text-neutral-500 bg-white"
        >
            <div class="text-center">
                <h2
                    class="text-5xl font-semibold text-neutral-900 mb-8 lg:mb-12"
                    id="portfolio"
                >
                    Portfolio
                </h2>
            </div>
            <div
                class="grid grid-cols-1 gap-4 mx-auto text-sm font-medium lg:gap-8 sm:grid-cols-2 lg:grid-cols-2 max-w-7xl"
            >
                {
                    projects.map((project) => (
                        <ProjectCard
                            name={project.name}
                            url={project.url}
                            image={project.image.src}
                            tech={project.tech}
                            description={project.description}
                        />
                    ))
                }
            </div>
        </div>
        <br /><br />
    </section>

    <!-- skills -->
    <!-- <section>
        <div class="px-8 py-24 mx-auto md:px-12 lg:px-32 max-w-7xl">
            <div class="text-center">
                <h2
                    class="text-4xl noto-serif font-semibold tracking-tighter text-neutral-900 mb-8 lg:mb-12"
                    id="tech-stack"
                >
                    My Tech Stack
                </h2>
            </div>
            <div
                class="grid grid-cols-2 text-sm font-medium text-center text-neutral-500 gap-x-6 gap-y-12 lg:grid-cols-4 lg:gap-x-8 lg:gap-y-16 text-balance"
            >
                {
                    skills.map((skill) => (
                        <SkillsCard
                            name={skill.name}
                            description={skill.description}
                            logo={skill.logo}
                        />
                    ))
                }
            </div>
        </div>
    </section> -->

    <!-- services -->
    <!-- <section>
        <div class="relative">
            <div
                class="absolute top-0 z-[-2] h-full w-full rotate-180 transform bg-neutral-50 bg-[radial-gradient(40%_120%_at_50%_50%,hsla(0,0%,100%,0)_0,rgba(159,18,57,.2)_100%)]"
            >
            </div>

            <div
                class="px-8 py-24 mx-auto md:px-12 lg:px-32 max-w-7xl"
            >
                <div class="text-center">
                    <h2
                        class="text-4xl noto-serif font-semibold tracking-tighter text-neutral-900 mb-8 lg:mb-4"
                        id="services"
                    >
                        Web Services
                    </h2>
                    <p class="noto-serif text-neutral-500 mb-8">
                        I build and enhance custom ecommerce stores
                    </p>
                </div>
                <div
                    class="flex flex-wrap justify-center text-sm font-medium text-center text-neutral-500 gap-x-6 gap-y-12 lg:gap-x-8 lg:gap-y-16 text-balance"
                >
                    {
                        services.map((service) => (
                            <ServicesCard
                                name={service.name}
                                description={service.description}
                                icon={service.icon}
                            />
                        ))
                    }
                </div>
            </div>
        </div>
    </section> -->

    <!-- About -->
    <section id="about">
        <div
            class="relative isolate overflow-hidden bg-white px-6 py-24 sm:py-32 lg:overflow-visible lg:px-0"
        >
            <div class="absolute inset-0 -z-10 overflow-hidden">
                <svg
                    class="absolute top-0 left-[max(50%,25rem)] h-[64rem] w-[128rem] -translate-x-1/2 stroke-gray-200 [mask-image:radial-gradient(64rem_64rem_at_top,white,transparent)]"
                    aria-hidden="true"
                >
                    <defs>
                        <pattern
                            id="e813992c-7d03-4cc4-a2bd-151760b470a0"
                            width="200"
                            height="200"
                            x="50%"
                            y="-1"
                            patternUnits="userSpaceOnUse"
                        >
                            <path
                                d="M100 200V.5M.5 .5H200"
                                fill="none"></path>
                        </pattern>
                    </defs>
                    <svg
                        x="50%"
                        y="-1"
                        class="overflow-visible fill-gray-50"
                    >
                        <path
                            d="M-100.5 0h201v201h-201Z M699.5 0h201v201h-201Z M499.5 400h201v201h-201Z M-300.5 600h201v201h-201Z"
                            stroke-width="0"></path>
                    </svg>
                    <rect
                        width="100%"
                        height="100%"
                        stroke-width="0"
                        fill="url(#e813992c-7d03-4cc4-a2bd-151760b470a0)"
                    ></rect>
                </svg>
            </div>
            <div
                class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10"
            >
                <div
                    class="lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8"
                >
                    <div class="lg:pr-4">
                        <div class="lg:max-w-lg">
                            <p
                                class="text-base/7 font-semibold text-indigo-600"
                            >
                                intro
                            </p>
                            <h1
                                class="mt-2 text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl"
                            >
                                About
                            </h1>
                        </div>
                    </div>
                </div>
                <div
                    class="-mt-12 -ml-12 p-12 lg:sticky lg:top-4 lg:col-start-2 lg:row-span-2 lg:row-start-1 lg:overflow-hidden"
                >
                    <Image
                        class="relative w-full rounded-2xl border border-neutral-200 shadow-lg"
                        src={aboutPhoto}
                        alt="Irina Kramer photo"
                    />
                </div>
                <div
                    class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8"
                >
                    <div class="lg:pr-4">
                        <div
                            class="max-w-xl text-base/7 text-gray-700 lg:max-w-lg"
                        >
                            <p class="mt-8">
                                I've been in the web industry for 20
                                years, working as a web designer, web
                                app developer, web project manager,
                                and most recently, a software
                                engineer. My experience spans both
                                tech and consumer goods, from small
                                startups to large international
                                companies.
                            </p>

                            <p class="mb-4">
                                Some of my most fulfilling and
                                creative years were spent developing
                                ecommerce sites for brands like
                                Lowepro, JOBY, and Manfrotto. During
                                that time, I gained hands-on
                                experience with ecommerce platforms,
                                product and category pages, product
                                photography, SEO, sales, email
                                campaigns, and inventory management.
                                It was like seeing an entire business
                                from 1,000 feet up, then zooming in to
                                the smallest details.
                            </p>
                            <p class="mb-4">
                                Beyond ecommerce, I have a deep
                                appreciation for small businesses,
                                creative entrepreneurs, and artists.
                                In 2023, I left the corporate world to
                                focus on helping them succeed online.
                                Today, I specialize in building and
                                supporting high-performing, custom
                                ecommerce sites on Shopify and
                                WooCommerce.
                            </p>
                            <p>
                                If you're looking for a strategic
                                partner to bring your online store to
                                life, <a
                                    href="mailto:irinakramer@yahoo.com?subject=Inquiry from website"
                                    class="text-rose-600 hover:text-rose-400"
                                    >I'd love to chat with you</a
                                >.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- testimonials -->
    <!-- <section>
    
        <div class="px-8 py-12 mx-auto md:px-12 lg:px-32 max-w-7xl">
            <div class="text-center">
                <h2
                    class="text-4xl noto-serif font-semibold tracking-tighter text-neutral-900 mb-8 lg:mb-12"
                >
                    What my clients and colleagues are saying
                </h2>
            </div>
            <ul
                role="list"
                class="grid max-w-2xl grid-cols-1 gap-6 mx-auto sm:gap-4 lg:max-w-none lg:grid-cols-3"
            >
                {
                    testimonials.map((testimonial) => (
                        <TestimonialCard
                            author={testimonial.author}
                            title={testimonial.title}
                            text={testimonial.text}
                            avatar={testimonial.avatar}
                            link={testimonial.link}
                        />
                    ))
                }
            </ul>
        </div>
    </section> -->

    <!-- hire me -->
    <section id="contact">
        <div class="relative isolate px-6 py-14 lg:px-8 bg-white">
            <div class="mx-auto max-w-2xl py-18">
                <div class="text-center">
                    <p
                        class="mt-8 text-lg text-pretty text-gray-500 sm:text-xl/8"
                    >
                        If you're prepared to talk about your project,
                        send me an email and I'll respond promptly
                        with next steps.
                    </p>
                    <div
                        class="mt-10 flex items-center justify-center gap-x-6"
                    >
                        <ContactButton text="Let's Connect" />
                    </div>
                </div>
            </div>
        </div>
    </section>
</Layout>
