---
import Layout from "../layouts/Layout.astro";
import Social from "../components/Social.astro";
import ProjectCard from "../components/ProjectCard.astro";
import projects from "../data/projects.js";
---

<Layout title="Irina Kramer - Frontend Engineer">
    <main>
        <section class="mb-10 leading-normal">
            <h2 class="text-base font-semibold mb-4">About</h2>
            <p class="mb-4">
                Hello! I'm a skilled Frontend Engineer from Petaluma,
                California, with 15+ years in the web industry. I
                specialize in crafting seamless user experiences for
                enterprise websites and applications.
            </p>
            <p class="mb-4">
                I excel at turning design visions into functional
                applications using JavaScript, React, REST/GraphQL
                APIs, MySQL, HTML, and CSS/SCSS. I'm also diving into
                Next.js.
            </p>
            <p class="mb-4">
                Currently, I'm open to contract frontend
                opportunities, ready to bring my expertise to your
                projects.
            </p>
        </section>
        <section class="mb-10">
            <h2 class="text-base font-semibold mb-6">Portfolio</h2>
            <ul role="list" class="link-card-grid">
                {
                    projects.map((project) => (
                        <ProjectCard
                            name={project.name}
                            url={project.url}
                            image={project.image.src}
                            tech={project.tech}
                            year={project.year}
                            company={project.company}
                        />
                    ))
                }
            </ul>
        </section>
        <section class="mb-10">
            <h2 class="text-base font-semibold mb-4">Connect</h2>
            <ul>
                <li>
                    <Social
                        platform="linkedin"
                        username="in/irinakramer"
                    />
                </li>
                <li>
                    <Social
                        platform="github"
                        username="irinakramer"
                    />
                </li>
                <li>
                    <Social
                        platform="twitter"
                        username="irinakramer"
                    />
                </li>
                <li>
                    <Social
                        platform="instagram"
                        username="irinakramer_"
                    />
                </li>
            </ul>
        </section>
    </main>
</Layout>
