---
import { Icon } from "astro-icon";
const { name, url, description, tech, image, year, company } =
    Astro.props;
---

<li class="my-8">
    <a href={url}
        ><div
            class="flex space-x-4 p-2 sm:p-3 rounded-lg transition-colors hover:bg-fuchsia-950/50 bg-fuchsia-950/20"
        >
            <div>
                <img
                    class="w-20 sm:w-28 rounded-sm"
                    src={image}
                    alt="alt"
                />
            </div>

            <div class="flex-1 flex flex-row justify-between">
                <div>
                    <p class="text-sm font-semibold mb-1">
                        {name}
                    </p>
                    <p class="text-slate-400 text-xs leading-4 mb-1">
                        {tech}
                    </p>
                    <p class="text-xs">{year}, {company}</p>
                </div>
                <div>
                    <Icon
                        class="w-5 text-slate-500"
                        name={`mdi:arrow-top-right`}
                    />
                </div>
            </div>
        </div></a
    >
</li>
