---
const { name, url, tech, image, description } = Astro.props;
---

<a
    href={url}
    class="overflow-hidden rounded-md bg-neutral-100 border border-neutral-200"
    ><div class="p-4 lg:px-12 lg:py-24">
        <img
            class="duration-500 rounded-lg shadow-md hover:shadow-2xl hover:-translate-y-4"
            src={image}
            alt={name}
        />
        <h3 class="mt-8 mb-2 text-base text-neutral-900">
            {name}
        </h3>
        <p>{description}</p>
        <p class="mt-2 text-neutral-600">
            {tech}
        </p>
    </div></a
>
