---
const { name, url, description, tech, image, year, company } =
    Astro.props;
---

<li class="my-8">
    <a href={url}
        ><div
            class="flex space-x-4 p-2 sm:p-3 rounded-lg bg-slate-800 hover:bg-slate-700"
        >
            <div>
                <img
                    class="w-20 sm:w-28 rounded-sm"
                    src={image}
                    alt="alt"
                />
            </div>
            <div class="flex-1">
                <p class="text-sm font-semibold mb-1">{name}</p>
                <p class="text-slate-400 text-xs leading-4 mb-1">
                    {tech}
                </p>
                <div class="flex justify-between">
                    <p class="text-xs">{year}</p>
                    <p class="text-xs">{company}</p>
                </div>
            </div>
        </div></a
    >
</li>
