---
const { author, title, text, avatar } = Astro.props;
const link =
    "https://www.linkedin.com/in/irinakramer/details/recommendations/";
---

<li class="p-2 border bg-gray-50 rounded-3xl">
    <figure
        class="flex flex-col justify-between h-full p-6 bg-white border shadow-lg rounded-2xl"
    >
        <blockquote class="text-ellipsis overflow-hidden">
            <p class="text-base text-gray-500">
                {text}
                <a href={link}> More...</a>
            </p>
        </blockquote>
        <figcaption
            class="flex items-center justify-between pt-6 mt-6"
        >
            <div>
                <div class="font-medium text-gray-900">
                    {author}
                </div>
                <div class="mt-1 text-sm text-gray-500">
                    {title}
                </div>
            </div>
            <div class="overflow-hidden rounded-full bg-gray-50">
                <img
                    alt="#_"
                    src={avatar}
                    class="object-cover h-14 w-14 grayscale"
                />
            </div>
        </figcaption>
    </figure>
</li>
